*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgb(165, 165, 180),rgb(54, 54, 135));
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .navbar .input-field{
     margin-left: 50px;
  }
  .navbar .input-field button{
    margin: 20px;
    padding: 3px;
  }
  .navbar .input-field input{
    padding: 2px;
  }
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.navbar .navlink{
  list-style:none;
  margin: 20px;
  display: inline-flex;
}
.navbar .navlink li{
  margin-left: 20px;
}
.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.content .projectCard{
  margin: 50px;
}